<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/css/styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

    </head>
    <body>
        <div class="nav-bar">
            <img class="logo-navbar" alt="logo-image" src="static/images/bluetree-white.png">
            <div class="home-buttoncon">
                <a href="http://127.0.0.1:5011/homepage">
                    <button>Home</button>
        
                </a>
                <a href="http://127.0.0.1:5011/booking_page">
                    <button>Your Appointments</button>
        
                </a>
                <a href="http://127.0.0.1:5011/account_management">
                    <button class="account-button">Account Management</button>

                </a>
                
        
            </div>
        <div class="booking-navs">
            <button onclick="showActive()"class="active-button">Upcoming Appointments</button>
            <button onclick="showInactive()" class="inactive-button">Cancelled Appointments</button>

        </div>
        <div id="active-bookings" class="active-bookings" style="display:block;">
           
            <h2>Active Appointments</h2>
           

            <div class="outer-con">
                {%for booking, date in zip_active%}
                    
           
                <div class="booking-container">
                    
                 <div class="booking-info">
                    <div class="booking-doctor">Dr. {{booking.booked_doctor}}</div>
                    <div class="booking-date">{{date}}</div>
                <form class="cancel-form" method="POST" action="/cancel_booking">

                
                    <input type="hidden" id="cancelled-booking" name="cancelled-booking">
                    <button onclick="submitValue(this.value)" value="{{booking.id}}" class="cancel-button">Cancel</button>
                </form>
                 </div>
                </div>
                        
                {%endfor%}
            </div>


            
        
           

        </div>
        <div id="inactive-bookings" class="inactive-bookings" style="display:none;">
           <h2>Cancelled Appointments</h2>
           
            {%for booking, date in zipped_cancelled %}
            

                
            <div class="cancelled-bookingcon">
                <div class="cancelled-bookinginfo">
                    <div class="can-doctor">Dr. {{booking.booked_doctor}}</div>
                    <div class="can-date">{{date}}</div>

                </div>

            </div>
              
               
            {%endfor%}

        </div>

        <script>

            function showActive(){
                const activeDiv = document.getElementById("active-bookings");
                activeDiv.style.display = "block";

                document.getElementById("inactive-bookings").style.display = "none";


            }
            function showInactive(){
                const inactiveDiv = document.getElementById("inactive-bookings");
                inactiveDiv.style.display = "block";
                document.getElementById("active-bookings").style.display = "none";
            }
            function submitValue(bookingId){

                const hiddenInput = document.getElementById("cancelled-booking");
                hiddenInput.value = bookingId;

            }
        </script>
        

    </body>
</html>