<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/css/styles.css">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
  <body>

<div class="nav-bar">
    <img class="logo-navbar" alt="logo-image" src="static/images/bluetree-white.png">
    <div class="home-buttoncon">
        <a href="http://127.0.0.1:5011/homepage">
            <button>Home</button>

        </a>
        <a href="http://127.0.0.1:5011/booking_page">
            <button>Your Appointments</button>

        </a>
        <a href="http://127.0.0.1:5011/account_management">
            <button class="account-button">Account Management</button>

        </a>
        

    </div>
    

</div>
<div id="homepage-div" style="display:block;" class="homepage-div">
    <h1 class="homepage-title">Welcome to BlueTree Health, {{first_name}}</h1>

   
        {%for doctor in doctors%}
            <div class="doctor-div">
                <img alt="doctor-headhsot" src="{{doctor.headshot}}" class="doctor-image">
                <p class="home-doctorname"> Dr. {{doctor.doctor_name}}</p>
                <p class="home-doctorfield">{{doctor.field}}</p>
                <p class="home-doctorcontact">{{doctor.contact_email}}</p>
                <form id="doctor-form" method="POST" onsubmit="stopSubmit(event)" action="/submit_doctor">
                    <input type="hidden" id="chosen-doctor" name="chosen-doctor" value="{{doctor.id}}">
                    <button onclick="changeValue(this.value)" class="schedule-button" id="{{doctor.id}}" value="{{doctor.id}}">Schedule with Dr. {{doctor.doctor_name}}</button>

                </form>
               

                
                
            </div>
        {%endfor%}
</div>

    <div style="display:none;" id="booking-div" class="Booking-div">
        <h2 id="booking-title" class="booking-title"></h2>
        <img id="booking-image" class="booking-image" alt="headshot" src="">
        <div class="booking-form">

        
        <form class="booking-form" method="POST" action="/submit_booking" onsubmit="checkInput(event)">
            <label for="scheduler">Name: </label>
            <input type="text" name="scheduler" id="scheduler" required>
            <label for="booking-reason">Reason for Appointment: </label>
            <input type="text" id="booking-reason" name="booking-reason" required>
            <input id="booked-doctor" type="hidden" name="booked-doctor">
            <label for="scheduled-time">Pick a Preferred Day and Time</label>
            <select id="scheduled-time" name="scheduled-time" class="scheduled-time">
                <option value="">Select a Time</option>
            </select>
           
            
            <button type="submit">Book</button>

        </form>
        </div>



    </div>

        <script>

            function checkInput(event) {
                const selectedTime = document.getElementById("scheduled-time");
                if (selectedTime.value == "" ){
                    event.preventDefault();

                    alert("Please Select a Day and Time.");
            }
            }

           

            function changeValue(doctorId){
                
                const hiddenInput = document.getElementById('chosen-doctor');

                hiddenInput.value = doctorId;

            }

            

            function stopSubmit(event){
                event.preventDefault();  

                const form = document.getElementById('doctor-form');
                const formData = new FormData(form);

                fetch('/submit_doctor', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())  
                .then(data => {
                    
                    const date_list = data.avail_dates;
                    console.log(date_list);
                    const selectMenu = document.getElementById("scheduled-time");
                    

                    
                   
                   

                    date_list.forEach(date => {

                        const option = document.createElement("option");
                        option.textContent = date;
                        option.value = date;
                        selectMenu.appendChild(option);
                        
                       
                        
                      
                    });
                })
                .catch(error => console.error('Error:', error));
    }

            

            
           
            buttons = document.querySelectorAll(".schedule-button")
            buttons.forEach(button => {
                button.addEventListener("click", function() {
                    const value = this.value;
                    {% for doctor in doctors %}
                        if ({{doctor.id}} == value) {
                            const bookingDiv = document.getElementById('booking-div');
                            const bookingTitle = document.getElementById("booking-title");
                            const homepageDiv = document.getElementById("homepage-div");
                            const chosenDoctor = {{doctor.id}};
                            
                            homepageDiv.style.display = "none";
                            bookingDiv.style.display = "block";
                            bookingTitle.textContent = " Book an appointment with Dr. {{doctor.doctor_name}}";
                            document.getElementById("booking-image").src = "{{doctor.headshot}}";
                            document.getElementById("booked-doctor").value = "{{doctor.id}}";
                           
                            

                            

                            
                           
                           
                        }

                    {%endfor%}


                })
            })

          </script>
          

  </body>
</html>