<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/css/styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <img class="bluetree-logo" alt="bluetree-logo" src="static/images/bluetree-logo1.png">
        <h1 class="create-account-title"> Create an account</h1>
        <form class="signup-form" action="/create_account" method="POSt">
            <label class="create-account-label" for="first-name">First Name: </label>
            <input class="create-account-input" type="text" id="first-name" name="first-name" placeholder="first name" required>
            <label class="create-account-label" for="last-name">Last Name:</label>
            <input class="create-account-input" id="last-name" type="text" name="last-name" placeholder="last name" required>
            <label class="create-account-label" for="email">Email:</label>
            <input class="create-account-input" type="email" placeholder="Enter your email" id="emai" name="email" required>
            <label class="create-account-label" for="password">Password: </label>
            <input class="create-account-input" type="password" id="password" name="password" required>
            <label class="create-account-label" for="confirm.password">Confirm Password: </label>
            <input class="create-account-input" type="password" id="confirm-password" name="confirm-password" required>
            
            <p class="create-account-redirect">Already Have an Account?<a href="#">Sign In Here.</a> </p>
        
            <button class="login-signup-button" type="submit">Sign Up</button>
        </form>

    </body>

</html>