.admin-body{
    width:100vw;
    height:100vh;
    padding:0;
    margin:0;
    background-color: white;

}
.admin-navbar{
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:3.4vh;
    background-color:#4B4B4B;

}
.admin-navbuttons{
    width:fit-content;
    margin:auto;
}
.admin-navbuttons button{
    border:none;
    width: 15vw;
    height:2vh;
    color:white;
    background-color: #4B4B4B;
    cursor:pointer;
}
.admin-navbuttons button:hover{
    background-color:#5A5A5A;
}
.counts-div{
    display:flex;
    align-items: center;
    gap:10vw;
    margin-top:25vh;
   
}
.counts{
    width: 30vw;
    height:30vh;
    margin:auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 1px;


}
.counts h3, p{
    text-align: center;
}
.counts h3{
    font-weight: bold;
    letter-spacing: 1.5px;
}
.counts p{

    font-size: 2rem;

}
.counts-image{
    width:4vw;
    margin-top: 2vh;
    margin-left:2vw;
}
.attribute-table{

    width:80vw;
    height:fit-content;
    margin:auto;
    margin-top:20vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    

   

}
.user-attribute-div, .doctor-attribute-div, .appoint-attribute-div, .avail-attribute-div{
    width:80vw;
    height:3vw;
    border: 1px solid black;
    margin-bottom: 0.5vh;
    padding-top:2vh;
    padding-bottom:2vh;
    cursor:pointer;

}
.attribute-info{
   
   
}
.attribute-info span{

    margin-right:4vw;





}
.edit-forms button:not(.delete-attribute-button){
    display:block;
    margin:auto;
    width:20vw;
    height:3vh;
    border:none;
    border-radius:5px;
    background-color: #4B4B4B;
    color:white;
    cursor:pointer;
    font-weight: bold;
    margin-bottom:5vh;
}
.edit-forms{
    width: fit-content;
    height: fit-content;
    margin:auto;
    margin-top:15vh;
    background-color: #e0e0e0 ;
    padding:20px;

}
.edit-forms input{
    display:block;
    margin-bottom:3vh;
    width:20vw;
    height: 3vh;
    border-radius:2px;



}
.edit-forms label{
    display: block;


}
.add-forms{
    width:fit-content;
    margin:auto;
    margin-top:10vh;
    background-color: #e0e0e0;
    padding:20px;
    
}
.add-forms input{
    display: block;
    width:20vw;
    height:2vh;
    margin-bottom:3vh;
    border-radius: 2px;
    padding:3px

}
.add-forms label{
    display:block;
    margin-bottom:1vh;
    text-align: center;
}
.add-forms button:not(.cancel-add-button){
    display:block;
    margin:auto;
    width:20vw;
    height:3vh;
    border:none;
    border-radius:5px;
    background-color: #4B4B4B;
    color:white;
    cursor:pointer;
    font-weight: bold;

}
.add-forms button:not(.cancel-add-button):hover, .edit-forms button:not(.delete-attribute-button):hover{
    background-color: #5A5A5A;
}
.delete-attribute-button{
    border:none;
    width: 20vw;
    height:2vh;
    background-color: #e0e0e0;
    font-weight: bold;
    color:red;
    cursor:pointer;
    font-size: 0.98rem;

}
.delete-attribute-button:hover{
    color:#ff4d4d;
    text-decoration: underline;
}
.edit-forms h3, .add-forms h3{
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5vh;

}
.cancel-add-button{
    border:none;
    background-color: #e0e0e0;
    color:red;
    font-weight: bold;
    font-size: 0.95rem;
    cursor: pointer;
}
.cancel-add-button:hover{
    color:#ff4d4d;
    text-decoration: underline;
}
.add-attribute-buttons{
    border:none;
    background-color:white;
    color:#0a1f44;
    font-weight: bold;
    letter-spacing: 0.5px;
    
    cursor: pointer;
    border-right:0.5px solid black;

}
.add-attribute-buttons:hover{
    text-decoration:underline;
    color:#4B4B4B;
}
.toggle-attribute-buttons{
    border:none;
    background-color:white;
    color:#0a1f44;
    border-right:0.5px solid black;
    font-weight:bold;
    letter-spacing: 0.5px;
    cursor:pointer;

}
.toggle-attribute-buttons:hover{
    color: #4B4B4B;
    text-decoration: underline;



}
.user-attribute-div:hover, .doctor-attribute-div:hover, .appoint-attribute-div:hover, .avail-attribute-div:hover{
    background-color: #e0e0e0;
}
.doctor-div{
    width:fit-content;
    height: fit-content;
    margin-bottom: 10vh;
}